* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
  background: linear-gradient(122deg, #030009 -11.05%, #03000a 104.5%);
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}
